.projetcs{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
}

  .projects__container{
    width: 30%;
    border: solid 2px #4A254F;
    height: 520px;

    transition: 0.4s;
  }

    .projects__container:hover{
      transform: translateY(-2%);
      box-shadow: 1.5em 1.5em 1em rgba(0,0,0,0.74);
    }

  .projects__img{
    width: 100%;
  }

  /* wrapper of the text container and the button */
  .projects__wrapper{
    height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .projects__text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25em 1em;
    gap: 1em;
  }

  .projects__title{
    min-height: 2em;
    font-family: 'Lora', serif;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
  }

  .projects__title--long-text{
    line-height: 1em;
  }
  .projects__description{
    text-align: justify;
    font-size: 0.9em;
  }

  .projects__button-link{
    width: fit-content;
    padding: 0.8em 0.7em;

    font-family: 'Lora', serif;
    background-color: #7A3D82;
    color: #ecece9;
    border-radius: 0.2em;
    font-size: 1.15em;
    
    transition: 0.3s all ease-in-out;
    text-decoration: none;
  }

  .projects__button-link:hover{
    font-weight: bold;
    background-color: #4A254F;
  }