.about{
  width: 100%;
  display: flex;
  gap: 4%;
}

  .about__left-container{
    width: 50%;
    margin-left: 4%;
  }

  .about__right-container{
    width: 50%;
    margin-right: 4%;
  }

  .about__title{
    margin-bottom: 0.5em;

    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: #7B3D83;
  }

  .about__description{
    margin-bottom: 1em;
    line-height: 1.5em;

    font-family: 'Lora', sans-serif;
    font-size: 0.9em;
    text-align: justify;
  }

.experience{
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.experience__container{
  border-left: 2px solid;
  padding: 0 0.5em;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.25em;
  cursor: default;

}

.experience__container:hover{
  border-left: #8D4796 2px solid;
  transition: all 0.3s ease-in-out;
}

  .experience__title{
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    font-family: 'Lora', sans-serif;
    font-size: 1.3em;
  }

  .experience__job{
    grid-column: 1 / 2;
    grid-row: 2 / 2;

    font-size: 0.8em;
  }

  .experience__time{
    grid-column: 2 / 2;
    grid-row: 1 / 1;

    font-size: 0.8em;
    text-align: end;
    color: rgb(36, 34, 34);
  }

.skills{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

  .skills__container{
    width: 94%;
    padding: 3%;
    border-radius: 5px;

    background: #4A254F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .skills__title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
    color: white;
  }

  .skills__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    color: #C99FCF;
  }

  .skills__description{
    border-top: white solid 1px;
    padding-top: 1em;
    font-size: 0.9em;
    line-height: 1.3em;
    text-align: justify;
    color: white;
  }

    .skills__description strong{
      font-style: italic;
      font-weight: bold;
    }

